@charset "UTF-8";


/* ========BASIC======== */
html {
   overflow-y:scroll;
}

body {
   margin:0;
   padding:0;
   line-height:200%;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:15px;
   color:#333;
   background:url(../sys_img/bg.gif) fixed;
}

h1,h2,h3,h4,h5,h6 {
   line-height:240%;
   margin:0;
   padding:0;
}

p {
   margin:0 0 1em 0;
   padding:0;
}

br {
   letter-spacing:normal;
}

img {
   border:0;
}

a:link {
   color:#3030CF;
   font-size:16px;
   font-weight:bold;
   text-decoration:none;
}

a:visited {
   color:#AA22AA;
   font-size:16px;
   font-weight:bold;
}

a:hover {
   color:#92C45B;
   font-size:16px;
   font-weight:bold;
   border-bottom:1px solid #92C45B;
}

dl,ol,ul {
   margin:0 0 1em 0;
   padding:0;
}

li {
   margin:0 0 0 40px;
   padding:0;
}


/* ========TEMPLATE WIREFRAME======== */
#top {
   width:700px;
   margin:20px auto;
   padding:0 20px;
   border:1px solid #CECFCE;
   background:#fff;
}

#header {
   width:700px;
   position:relative;
}

#navi {
   position:absolute;
   top:20px;
   right:0;
}

#menu {
   float:left;
   width:700px;
   margin:10px 0;
   background:#333;
}

#contents {
   clear:both;
}

#pageTop {
   clear:both;
}

#footer {
   width:700px;
   clear:both;
   padding:10px 0;
}

/* ========HEADER CUSTOMIZE======== */
#header h1 {
   padding:20px 0;
   font-weight:bold;
   font-size:28px;
}

#header h1 a {
   color:#333;
}

#header h1 a:hover {
   color:#92C45B;
}
#header p {
   margin:0;
   padding:0 0 5px 0;
   border-bottom:1px solid #CECFCE;
}

#navi ul {
   list-style:none;
}

#navi li {
   float:left;
   margin:0 0 0 22px;
   padding:0 0 0 20px;
   font-size:11px;
}

#navi li.sitemap {
   background:url(../sys_img/icon_sitemap.gif) 0 50% no-repeat;
}

#navi li.contact {
   background:url(../sys_img/icon_contact.gif) 0 50% no-repeat;
}

#navi li.feed {
   background:url(../sys_img/icon_feed.gif) 0 50% no-repeat;
}

#navi li a {
   border-bottom:1px solid #CECFCE;
}


/* ========MENU CUSTOMIZE======== */
#menu ul {
   list-style:none;
   margin:0;
   padding:0;
}

#menu li {
   float:left;
   margin:0;
   padding:0;
}

#menu li a {
   display:block;
   padding:8px 20px;
   color:#fff;
}

#menu li a:hover {
   color:#fff;
   background-color:#68903C;
   border:none;
}

#menu .on {
   background-color:#68689C;
   color:#fff;
}


/* ========CONTENTS CUSTOMIZE======== */
#contents h2 {
   margin-bottom:10px;
   padding:10px 0;
   font-weight:bold;
   font-size:16px;
   border-bottom:2px solid #ddd;
}

#contents h3 {
   margin-bottom:5px;
   padding:5px;
   font-size:14px;
   border-left:5px solid #339;
   border-bottom:1px dotted #999;
}

#contents h4 {
   margin-bottom:2px;
   font-weight:bold;
   font-size:14px;
   border-bottom:2px solid #666;
}

#contents h5 {
   margin-bottom:2px;
   padding:2px 5px;
   font-weight:bold;
   font-size:13px;
   background:#ececec;
}

#contents h6 {
   font-weight:bold;
   font-size:13px;
}

#contents dl {
   margin:0;
   padding:0;
}

#contents dt {
   text-decoration:underline;
}

#contents dd {
   margin:0 0 1em 1em;
}

#contents table {
   width:100%;
   border-collapse: collapse;
}

#contents table th {
   padding:5px;
   font-size:14px;
   text-align:left;
   border:1px solid #ddd;
   background:#cfcfcf;
}

#contents table td {
   padding:5px;
   font-size:14	px;
   text-align:left;
   border:1px solid #ddd;
}

/* ========PAGETOP CUSTOMIZE========= */
#pageTop {
   padding:10px 0;
   text-align:right;
}

#pageTop a {
   padding:0 0 0 12px;
   background:url(../sys_img/bg_pagetop.gif) 0 60% no-repeat;
}


/* ========FOOTER CUSTOMIZE======== */
.copyright {
   text-align:center;
   font-size:11px;
   font-style:normal;
   padding:20px 0;
   border-top:1px solid #CECFCE;
}

/* ========Castumoized======== */

#contents div.border {
   clear:both;
   margin-right:10px;
   margin-left:10px;
   border: 1px dotted #333333;
   padding: 2px;
}

div.waku
{
  position: relative;
  width: 480px;
  height: 240px;
  margin: 20px 0;
  background: #ffbbbb;
  border-radius: 50% / 10%;
  text-align: center;
}

div.waku:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

div.waku2 {
  position: relative;
  width: 640px;
  height: 340px;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}

div.oval {
	width: 200px;
	height: 30px;
	position:absolute;
	text-align:center;
	background-color:#cfcfff;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

div.talkbubble {
   width: 260px;
   height: 200px;
   position: absolute;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
